{% extends "base.html" %}

{% block content %}

    <h1>Lets add a new resturant</h1>
    <form class="form" action="{{ url_for('site.newrestaurant') }}" enctype='multipart/form-data' method="post">
      <table>
        <tr class="row">
          <td class="col">Name:</td>
          <td class="col">
            <input type="text" name="name" value="">
          </td>
        </tr>
        <tr class="row">
          <td class="col">Address:</td>
          <td class="col">
            <input type="text" name="address" value="">
          </td>
        </tr>
        <tr class="row">
          <td class="col">City</td>
          <td class="col">
            <input type="text" name="city" value="">
          </td>
        </tr>
        <tr class="row">
          <td class="col">State:</td>
          <td class="col">
            <input type="text" name="state" value="">
          </td>
        </tr>
        <tr class="row">
          <td class="col">Zip:</td>
          <td class="col">
            <input type="text" name="zipCode" value="">
          </td>
        </tr>
      </table>

      <input type="Submit">
    </form>

{% endblock %}
