{% extends "base.html" %}

{% block content %}
  {% if owner %}
    <h2>You are the owner of this resturant</h2>
  {% else %}
    <h2>You are not the owner of this resturant</h2>
  {% endif %}
    <a href="/resturants/new">Add new resturant</a>
    <h1>These are the resturants!</h1>
    <div>
      {% for r in restaurants %}
        <h3><a href="/restaurants/{{r.id}}">{{r.name}}</a></h3>
        <ul>
          <li>
            <p>Address: {{r.address}}</p>
          </li>
          <li>
            <p>City: {{r.city}}</p>
          </li>
          <li>
            <p>State: {{r.state}}</p>
          </li>
          <li>
            <p>zipCode: {{r.zipCode}}</p>
          </li>
        </ul>
      {% endfor %}
    </div>

{% endblock %}
