{% extends "base.html" %}

{% block content %}

  {% if owner %}
    <h1>Your restaurant</h1>
    <h2>You are the owner of this resturant</h2>
    <!-- Links to edit/delete restaurant, add/edit/delete menu -->
    <a class="btn btn-block btn-primary"
    href="{{ url_for('site.edit_restaurant', restaurant_id=restaurants[0].id) }}">Edit</a>
    <a class="btn btn-block btn-primary"
    href="{{ url_for('site.remove_restaurant', restaurant_id=restaurants[0].id) }}">Delete</a>
    <br>
  {% elif owner == None %}
  <!-- Listing all restaurants -->
  <h1>Restaurants</h1>
  {% else %}
    <h1>Restaurant</h1>
    <h2>You are not the owner of this resturant</h2>
  {% endif %}

  <a class="btn btn-block btn-primary"
  href="{{ url_for('site.new_restaurant') }}">Add new resturant</a>
  {% for r in restaurants %}
    <div class="wrapper-content">
      <h3><a href="/restaurants/{{r.id}}">{{r.name}}</a></h3>
      <ul>
        <li>
          <p>Address: {{r.address}}</p>
        </li>
        <li>
          <p>City: {{r.city}}</p>
        </li>
        <li>
          <p>State: {{r.state}}</p>
        </li>
        <li>
          <p>zipCode: {{r.zipCode}}</p>
        </li>
      </ul>
      <a class="btn btn-block btn-primary"
      href="{{ url_for('site.show_menuitems', restaurant_id=r.id) }}">See menu</a>
    </div>
  {% endfor %}
{% endblock %}
