{% extends "base.html" %}

{% block content %}

    <h1>Lets make a new menu item!</h1>
    <form class="form"
      action="{{ url_for('site.new_menuitem', restaurant_id=restaurant.id) }}"
      enctype='multipart/form-data'
      method="post">
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" value=""></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="description" value=""></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><input type="text" name="price" value=""></td>
        </tr>
      </table>
      <br>
      <input class="btn btn-block btn-primary"
      type="Submit">
      <a class="btn btn-block btn-primary"
      href="{{ url_for('site.show_menuitems', restaurant_id=restaurant.id) }}">Cancel</a>
    </form>
    </form>

{% endblock %}
