canvas{
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  width: 100%;
  padding: 10px;
}

.heading {
  text-align: center;
}

.dash {
  min-height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.statusline-store{
  padding: 5px 0 5px 0;
}

.level-store{
  min-width: 100%;
  border: 3px solid rgba(0,0,0,0.1);
}

.wrapper-outer{
  border: 3px solid rgba(0,0,0,0.1);
  height: 100%;
  min-height: 100vh;
  padding: 20px 0 20px;
  background-color: #fff;
}

.wrapper-content{
    border: 3px solid rgba(0,0,0,0.1);
    padding: 0 15px 10px 15px;
    margin-bottom: 4px;
    background-color: #BAC0C4;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin: 0 0 100px;*/
    padding-bottom: 100px;
    background-color: #002B4B;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
