{% extends "base.html" %}

{% block content %}
<div class="pane">
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="header">
      <h1>{{resturant.name}}</h1>
    </div>
  </div>
    {% for i in items %}

    <div>

      <p class="name">{{i.name}}</p>

      <p class="description">{{i.description}}</p>

      <p class="price"> {{i.price}} </p>

    </div>

    <!-- Edit and delete url for here -->
    <a href={{url_for('editmenu', menuitem_id=i.id)}}>Edit item</a>
    <a href={{url_for('delmenuitem', menuitem_id=i.id)}}>Delete item</a>

    {% endfor %}
</div>
{% endblock %}
