{% extends "base.html" %}

{% block content %}

    <h1>Lets edit some items!</h1>

    <form class="" action="/menu/{{menuitem_id}}/edit" method="post">
      <tr>
        <td>Name:</td>
        <td><input type="text" name="name" value=""></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" name="description" value=""></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" name="price" value=""></td>
      </tr>
        <input type="Submit">
    </form>

{% endblock %}
