{% extends "base.html" %}
<!--Gets passed items and restaurant objects, and bool owner if user is owner-->
{% block content %}
<div class="pane">
  <div class="header">
    <h1>{{restaurant.name}}</h1>
    {% if owner %}
      <!-- Links to edit/delete restaurant, add/edit/delete menu -->
      <p>You are the owner of this restaurant</p>
      <div class="btn-group btn-group-justified" role="group">
        <a class="btn btn-primary"
        href="{{ url_for('site.new_menuitem', restaurant_id=restaurant.id) }}">New menuitem</a>
        <a class="btn btn-primary"
        href="{{ url_for('site.edit_restaurant', restaurant_id=restaurant.id) }}">Edit Restaurant</a>
        <a class="btn btn-primary"
        href="{{ url_for('site.remove_restaurant', restaurant_id=restaurant.id) }}">Remove restaurant</a>
      </div>
    {% else %}
      <p>You are not the owner of this restaurant</p>
    {% endif %}
    <h3>Menuitems</h3>
  </div>
  {% for i in items %}
    <div class="wrapper-content">
      <p>Dish name: </p>
      <h3>{{i.name}}</h3>
      <p>id is {{i.id}}</p>
      <p><b>Description: </b>{{i.description}}</p>
      <p><b>Price: </b>{{i.price}} </p>

  <!-- Edit and delete url for here -->
    {% if owner %}
    <div class="btn-group btn-group-justified" role="group">
      <a class="btn btn-primary"
      href="{{ url_for('site.edit_menuitem', restaurant_id=restaurant.id, menuitem_id=i.id) }}">Edit item</a>
      <a class="btn btn-primary"
      href="{{ url_for('site.remove_menuitem', restaurant_id=restaurant.id, menuitem_id=i.id) }}">Delete item</a>
    </div>
    {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
