{% extends "base.html" %}

{% block content %}

    <h1>Lets make a new menu item!</h1>
    <form action="/menu/{{resturant_id}}/new" method="post">
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" value=""></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="description" value=""></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><input type="text" name="price" value=""></td>
        </tr>
        <br>
        <input type="Submit">
      </table>
    </form>

{% endblock %}
